body {
    padding-top: 40px;
}

.form-container {
    width: 500px;
    margin: auto;
}

span.red{
    color: #f00;
}

.footer-nav{
    text-align: center;
    margin:  30px auto 10px;
    border-top: 1px solid #ddd;
}
.footer-nav a{
    padding: 10px;
}

.captcha-label{
  font-size: 20px;
  vertical-align: top;
}

.captcha-input{
    margin: 10px 20px 10px 0;
    width: 40%;
    float: left;
}